
<div class="container">
  <div class="jumbotron">
    <h4 class="display-4">Welcomme <%= @user.name %></h4>
    <hr class="my-4">
    <p>Your mail is: <<em><%= @user.email %></em>></p>
    <hr class="my-4">
    <p>Vivamus non justo quis nibh accumsan aliquam nec vel eros. Nam vehicula tortor tellus, vel posuere ex euismod nec. Sed sit amet nisl ac massa pharetra aliquet. Sed consequat augue in rutrum pretium. Vivamus faucibus orci eget libero molestie tincidunt. In mi velit, consequat eu interdum ut, feugiat in quam. Integer fermentum, nulla accumsan fermentum sodales, ipsum lectus ornare enim, vitae aliquam dolor nunc eget ipsum. Sed lacus felis, ullamcorper sed odio in, vehicula tempus libero. Phasellus congue pharetra metus vel facilisis. Proin egestas luctus justo, eget consectetur mauris iaculis non.</p>


    </div>
</div>
