
<div class="container">
  <div class="jumbotron">
    <h4 class="display-4">Welcomme <%= @user.name %></h4>
    <hr class="my-4">
    <p>Your mail is: <em><%= @user.email %></em>></p>
    <hr class="my-4">
    </div>
</div>
